<!--  WARNING: 

This code is higly cancer, unorganized, fucked up and wrong.
It's not recommended to learn from it.

Looking at this code for an extended period of time may cause nausea and headaches.


You have been warned.


                                                                                                    
                                     ````............````                                           
                              ```............................``                                     
                          `.......................................``                                
                      ``..............................................`                             
                    `....................................................`                          
                 `.........................................................``                       
               `..............................................................`                     
             `..................................................................`                   
           `.....................................................................`                  
          `........................................................................`                
        `...........................................................................`               
       `...............................................-://+++oo+++//:--..............              
      `.............................................:shhddddddddddddddhhyo/--..........             
     `..............................................+ddddddddddddddddddddddh+-..........            
     ....................--:://++++++///:--.........-+so+/+dddddddddo/+oyhddy-.........-.           
    ..................-+syhddddddddddddddhys+:-.......--.-ydddddddddh:.---//-............`          
   `..................odddddddddhhhhhhddddddddy-.........-hdddddddddd/....................          
   ...................:yhhhyo+/::----:::/oshdho..........-odddddddddh-....................`         
  `....................--:--..............--:--...........-sdddddddh/......................         
  .........................................................-/syhhyo:.......................`        
  ...........................................................-----..........................        
 `-.........................................................................................        
 `-.........................................................................................        
 `-.........................................................................................        
 `-.........................................................................................        
  .....................------...............................................................        
  ....................-://///:-..----.....................................................-`        
  `...................-////////--oyhy+-....................................................         
   ....................:////////:yddddho/--...............................................`         
   `...................-/////////-/ydddddhyo+::--------------.............................          
    ...................-/////////-.-:oydddddddhhhyyhhhys////::-..........................`          
     ..................-/////////:....-:/syhddddddddddddo//////-........................`           
      ................-//////////:.......--::/++osyyyyso////////-.......................            
       .............--///////////-...............------:////////:-.....................             
        ..........--////////////:-.......------::::///////////////-..................`              
         .......-://///////////:-------:::///////////////////////:-.................`               
          `...--///////////////::////////////////////////////////-.................`       ``..`    
            `-://////////////////////////////////////////////////-...............````..-::://///:`  
             ://////////////////////////////////::://///////////-......-------::::///////////////:  
            ./////////////////////////////////////////////////:------::::////////////////////////.  
            -/////////////////////////////////////////////////::///////////////////////////:::-.`   
            :///////////////////////////////////////////////////////////////////////::-..``         
            -///////////////////////////////////////////////////////////////////-.`                 
            `////////////////////////////////////////////////////////////////////:                  
             :////////////////////////////////////////////////////////////////////                  
              ://////////////////////////////////////////////////////////////////-                  
              `:///////////////////////////////////////////////////////////////:.                   
                -////////////////////////////////////////////////////////////////`                  
                 `://////////////////////////////////////////////////////////////-                  
                   `-:///////////////////////://////////////////////////////////:`                  
                      `--:///////////:--..``  `:///////////////////////////////-                    
                           `````````            -///////////////////////////////.                   
                                                 `:////////////////////////////:`                   
                                                   `-://////////////////////:-`                     
                                                      `.-://////////:--..                           
                                                           ```````                                  

 !-->
    <body onmousedown="return false" onselectstart="return false">
</body> <!-- disable fucking retarded idots -->
<title><b>aDRianS</b></title>
<!-- Rel Start -->
<link rel="SHORTCUT ICON" href="https://lh4.googleusercontent.com/-yiGvEl0TTEI/AAAAAAAAAAI/AAAAAAAAABw/XTjaFZthtg8/photo.jpg" type="image/jpeg">
<script
   src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="js.js"></script>
<link rel="stylesheet" href="css.css">
<!-- Rel end -->  
<!-- Glitch Button Start-->
<!-- Youtube -->
<!-- Main Center -->
<!-- Dropdown Script -->
<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

http://planetfacts.org/wp-content/uploads/2011/03/solar-system.jpg
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<!-- Dropdown script end -->
<center>
   <h1>
      ------------------------------------------------------------
      <br> 
      Hi. Please check out my stuff. <br>:D I play animaljam,code and help.
      <br>
     <a href="https://twitter.com/scriptadrians"> <i class="fab fa-twitter fa-2x" style="width: 100; height: 100;"></i></a>
      <a href="https://instagram.com/latvijasbildes"> <i class="fab fa-instagram fa-2x" style="width: 100; height: 100;"></i></a> 
      <a href="https://www.youtube.com/channel/UC29wrgZA4gtZHycbKGImYHA"> <i class="fab fa-youtube fa-2x" style="width: 100; height: 100;"></i></a>
      <a href="https://discord.gg/XzC6tBN"> <i class="fab fa-discord fa-2x" style="width: 100; height: 100;"></i></a>
       <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Stuff</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="js.js">JS of this website</a>
    <a href="css.css">CSS of this website.</a>
    <a href="r0r">Error Api</a>
    <a href="rndr">Render API</a>
    <a href="rndr?rndr=Render Example">Render API Example</a>
    <a href="r0r?errorName=ExampleName&errorId=exampleId&ref=https://example.com">Error API example</a>
    <a href="planets">Planets</a>
    <a href="view-source:https://nyaaa.tk/">HTML of this website</a>
    <a href="uc">Your userclient.</a>
    <a href="go">Redirict API</a>
    <a href="go?link=https://example.com">Redirict link</a>
    
  </div>
</div>
      <br>
      ------------------------------------------------------------
</center>
<!-- Main Center end-->